In [1]:
import pandas as pd
import sqlparse

# Load the dataframe
data = pd.read_parquet('cleaned.parquet')

def analyze(item):
    instr, out = item['instruction'], item['output']
    statements = sqlparse.parse(instr)
    tokens = []
    for s in statements: # Multiple statements, combine into one big flattened list
        tokens += list(s.flatten())

    statements = sqlparse.parse(out)
    for s in statements: # Multiple statements, combine into one big flattened list
        tokens += list(s.flatten())
    identifiers = [token.value for token in tokens if token.ttype.__repr__() in ['Token.Name', 'Token.Literal.String.Symbol', 'Token.Literal.String.Single']]
    return max([len(i) for i in identifiers])

mask = data.apply(analyze, axis=1)
d1 = data[mask <= 36]
d2 = data[mask <= 34]
d3 = data[mask <= 32]
d4 = data[mask <= 30]
d5 = data[mask <= 28]

# Print the length of the resulting dataframe
print(len(d1))
print(len(d2))
print(len(d3))
print(len(d4))
print(len(d5))

246834
244884
242908
239523
220633

In [10]:
# Save to a new parquet file
d6.to_parquet('new.parquet', index=False)

In [9]:
d6 = data[mask <= 26]
print(len(d6))

214561

In [35]:
import pandas as pd
import sqlparse

# Load the dataframe
data = pd.read_parquet('data/he.jap.hi.parquet')
#statements = sqlparse.parse(out)
#for s in statements: # Multiple statements, combine into one big flattened list
#    tokens += list(s.flatten())

In [2]:
def clean_chars(sql):
    in_string = False
    result = ''
    end = len(sql) - 1
    sizes = [0, end]
    for i in range(end+1):
        if sql[i] == "'":
            in_string = not in_string
        if sql[i] == '"' and not in_string:
            if i > 0 and sql[i-1] in ' .()':
                result = f'{result}{sql[i]}'
            elif i < end and sql[i+1] in ' .(),;':
                result = f'{result}{sql[i]}'
            elif i in sizes:
                result = f'{result}{sql[i]}'
        else:
            result = f'{result}{sql[i]}'
    
    return result

import sqlglot

def valid_ast(sql):
    try:
        sqlglot.parse(sql, dialect=sqlglot.Dialects.SQLITE)
        return 1
    except:
        return 0

In [40]:
item = data.loc[200000]
instr, out = item['instruction'], item['output']
statements = sqlparse.parse(out)
tokens = []
for s in statements: # Multiple statements, combine into one big flattened list
    tokens += list(s.flatten())
print((''.join([token.value for token in tokens])))
print(clean_chars(instr))

SELECT "पुरुषों\ के\ एकल" FROM "सारणी\ \(_43\)" WHERE "लिंक\ डबल" = 'केनहीचक\-चक\-चिहरि'
CREATE TABLE "सारणी (_43)" (
    "साल" real,
    "पुरुषों के एकल" text,
    "वंस के एकल" text,
    "पुरुषों के डबल" text,
    "ववन्स डबल" text,
    "लिंक डबल" text
)


--ऊपर दिए गए बक्सों के लिए नीचे दिए गए सवालों के जवाब दीजिए ।--कौन से पुरुषों की अविवाहितता है Tanen Haga-LY-चिया के साथ डबलs?

In [11]:
import pandas as pd

data_eng = pd.read_parquet('data/eng.parquet')
new_data_eng = data_eng[~((data_eng['instruction'].str.contains('\\\\')) | (data_eng['output'].str.contains('\\\\')))]
print(len(new_data_eng))

236290

In [38]:
item = data_eng.loc[120000]
instr, out = item['instruction'], item['output']
print(out)
print(instr)

SELECT SUM(year) FROM table_name_93 WHERE edition > 4 AND winner = "new york red bulls"
CREATE TABLE table_name_93 (
    year INTEGER,
    edition VARCHAR,
    winner VARCHAR
)


-- Using valid SQLite, answer the following questions for the tables provided above.

-- I want the sum of year for edition more than 4 and winners of new york red bulls

In [20]:
statements = sqlparse.parse(instr)
tokens.clear()
for s in statements: # Multiple statements, combine into one big flattened list
    tokens += list(s.flatten())
print(tokens)

[<DDL 'CREATE' at 0x26603D32620>, <Whitespace ' ' at 0x26603DD4880>, <Keyword 'TABLE' at 0x26603DD48E0>, <Whitespace ' ' at 0x26603DD4940>, <Name 'Manufa...' at 0x26603DD49A0>, <Whitespace ' ' at 0x26603DD4A00>, <Punctuation '(' at 0x26603DD4A60>, <Newline ' ' at 0x26603DD4AC0>, <Whitespace ' ' at 0x26603DD4B20>, <Whitespace ' ' at 0x26603DD4B80>, <Whitespace ' ' at 0x26603DD4BE0>, <Whitespace ' ' at 0x26603DD4C40>, <Name 'Code' at 0x26603DD4CA0>, <Whitespace ' ' at 0x26603DD4D00>, <Builtin 'INTEGER' at 0x26603DD4D60>, <Punctuation ',' at 0x26603DD4DC0>, <Newline ' ' at 0x26603DD4E20>, <Whitespace ' ' at 0x26603DD4E80>, <Whitespace ' ' at 0x26603DD4EE0>, <Whitespace ' ' at 0x26603DD4F40>, <Whitespace ' ' at 0x26603DD4FA0>, <Name 'Name' at 0x26603DD5000>, <Whitespace ' ' at 0x26603DD5060>, <Name 'VARCHAR' at 0x26603DD50C0>, <Punctuation '(' at 0x26603DD5120>, <Integer '255' at 0x26603DD5180>, <Punctuation ')' at 0x26603DD51E0>, <Punctuation ',' at 0x26603DD5240>, <Newline ' ' at 0x26603DD52A0>, <Whitespace ' ' at 0x26603DD5300>, <Whitespace ' ' at 0x26603DD5360>, <Whitespace ' ' at 0x26603DD53C0>, <Whitespace ' ' at 0x26603DD5420>, <Name 'Headqu...' at 0x26603DD5480>, <Whitespace ' ' at 0x26603DD54E0>, <Name 'VARCHAR' at 0x26603DD5540>, <Punctuation '(' at 0x26603DD55A0>, <Integer '255' at 0x26603DD5600>, <Punctuation ')' at 0x26603DD5660>, <Punctuation ',' at 0x26603DD56C0>, <Newline ' ' at 0x26603DD5720>, <Whitespace ' ' at 0x26603DD5780>, <Whitespace ' ' at 0x26603DD57E0>, <Whitespace ' ' at 0x26603DD5840>, <Whitespace ' ' at 0x26603DD58A0>, <Name 'Founder' at 0x26603DD5900>, <Whitespace ' ' at 0x26603DD5960>, <Name 'VARCHAR' at 0x26603DD59C0>, <Punctuation '(' at 0x26603DD5A20>, <Integer '255' at 0x26603DD5A80>, <Punctuation ')' at 0x26603DD5AE0>, <Punctuation ',' at 0x26603DD5B40>, <Newline ' ' at 0x26603DD5BA0>, <Whitespace ' ' at 0x26603DD5C00>, <Whitespace ' ' at 0x26603DD5C60>, <Whitespace ' ' at 0x26603DD5CC0>, <Whitespace ' ' at 0x26603DD5D20>, <Name 'Revenue' at 0x26603DD5D80>, <Whitespace ' ' at 0x26603DD5DE0>, <Builtin 'REAL' at 0x26603DD5E40>, <Newline ' ' at 0x26603DD5EA0>, <Punctuation ')' at 0x26603DD5F00>, <Newline ' ' at 0x26603DD5F60>, <Newline ' ' at 0x26603DD5FC0>, <DDL 'CREATE' at 0x26603DD6020>, <Whitespace ' ' at 0x26603DD6080>, <Keyword 'TABLE' at 0x26603DD60E0>, <Whitespace ' ' at 0x26603DD6140>, <Name 'Produc...' at 0x26603DD61A0>, <Whitespace ' ' at 0x26603DD6200>, <Punctuation '(' at 0x26603DD6260>, <Newline ' ' at 0x26603DD62C0>, <Whitespace ' ' at 0x26603DD6320>, <Whitespace ' ' at 0x26603DD6380>, <Whitespace ' ' at 0x26603DD63E0>, <Whitespace ' ' at 0x26603DD6440>, <Name 'Code' at 0x26603DD64A0>, <Whitespace ' ' at 0x26603DD6500>, <Builtin 'INTEGER' at 0x26603DD6560>, <Punctuation ',' at 0x26603DD65C0>, <Newline ' ' at 0x26603DD6620>, <Whitespace ' ' at 0x26603DD6680>, <Whitespace ' ' at 0x26603DD66E0>, <Whitespace ' ' at 0x26603DD6740>, <Whitespace ' ' at 0x26603DD67A0>, <Name 'Name' at 0x26603DD6800>, <Whitespace ' ' at 0x26603DD6860>, <Name 'VARCHAR' at 0x26603DD68C0>, <Punctuation '(' at 0x26603DD6920>, <Integer '255' at 0x26603DD6980>, <Punctuation ')' at 0x26603DD69E0>, <Punctuation ',' at 0x26603DD6A40>, <Newline ' ' at 0x26603DD6AA0>, <Whitespace ' ' at 0x26603DD6B00>, <Whitespace ' ' at 0x26603DD6B60>, <Whitespace ' ' at 0x26603DD6BC0>, <Whitespace ' ' at 0x26603DD6C20>, <Name 'Price' at 0x26603DD6C80>, <Whitespace ' ' at 0x26603DD6CE0>, <Builtin 'DECIMAL' at 0x26603DD6D40>, <Punctuation ',' at 0x26603DD6DA0>, <Newline ' ' at 0x26603DD6E00>, <Whitespace ' ' at 0x26603DD6E60>, <Whitespace ' ' at 0x26603DD6EC0>, <Whitespace ' ' at 0x26603DD6F20>, <Whitespace ' ' at 0x26603DD6F80>, <Name 'Manufa...' at 0x26603DD6FE0>, <Whitespace ' ' at 0x26603DD7040>, <Builtin 'INTEGER' at 0x26603DD70A0>, <Newline ' ' at 0x26603DD7100>, <Punctuation ')' at 0x26603DD7160>, <Newline ' ' at 0x26603DD71C0>, <Newline ' ' at 0x26603DD7220>, <Newline ' ' at 0x26603DD7280>, <Single '-- Usi...' at 0x26603DD72E0>, <Newline ' ' at 0x26603DD7340>, <Single '-- For...' at 0x26603DD73A0>]

In [6]:
import pandas as pd
import unicodedata

#c1, c2, c3 = 0, 0, 0
def clean(x):
    return f'-- Utilizando SQLite válido, responda las siguientes preguntas para las tablas proporcionadas anteriormente.\n-- {x[2]}'.replace('\\', '')

data_eng = pd.read_parquet('data/test/eng_test.parquet')
data = pd.read_parquet('data/test/es_test.parquet')

# Split the 'instruction' column on '--'
data_eng['instruction_split'] = data_eng['instruction'].str.split('--')
data['instruction_split'] = data['instruction'].str.split('--')

# Replace the first split of 'data' with the first split from 'data_eng'
data['instruction_split'] = data_eng['instruction_split'].apply(lambda x: x[0]) + data['instruction_split'].apply(clean)

# Replace the 'instruction' column in 'data' with the new string
data['instruction'] = data['instruction_split']
data.drop(columns=['instruction_split'], inplace=True)

# Replace the 'output' column in 'data' with the one from 'data_eng'
data['output'] = data_eng['output']

data.to_parquet('es_test.parquet')

In [7]:
item = data.loc[0]
instr, out = item['instruction'], item['output']
print(out)
print(instr)

SELECT "player" FROM table_203_815 WHERE "college" = 'kansas state'
CREATE TABLE table_203_815 (
    id number,
    "pick #" number,
    "nfl team" text,
    "player" text,
    "position" text,
    "college" text
)


-- Utilizando SQLite válido, responda las siguientes preguntas para las tablas proporcionadas anteriormente.
-- ¿Quién era el único jugador del estado de Kansas?

In [5]:
data = pd.read_parquet('data/test/es_test.parquet')
print(data)

                                            instruction  \
0     CREATE TABLE "tabla_203_815" (\n    "id" numbe...
1     CREATE TABLE "tabla_17232" (\n    "Disco" real...
2     CREATE TABLE "curso" (\n    "crs_code" text,\n...
3     CREATE TABLE "tabla_4053" (\n    "Persona\ eje...
4     CREATE TABLE "tabla_72445" (\n    "Condado" te...
...                                                 ...
2441  CREATE TABLE "tabla_57826" (\n    "Rank" real,...
2442  CREATE TABLE "tabla_24485" (\n    "Día" text,\...
2443  CREATE TABLE "Demografía" (\n    "subject_id" ...
2444  CREATE TABLE "tabla_18598175_2" (\n    "método...
2445  CREATE TABLE "procedimientos" (\n    "subject_...

                                                 output
0     SELECT "jugador" FROM "tabla_203_815" WHERE "C...
1              SELECT "MIN"("Track") FROM "tabla_17232"
2     SELECT "T2"."emp_fname", "T4"."prof_office", "...
3     SELECT "Bajo\ el\ Presidente" FROM "tabla_4053...
4     SELECT "Ingreso\ familiar\ medio" FROM "tabla_...
...                                                 ...
2441  SELECT MAX("Bronze") FROM "tabla_57826" WHERE ...
2442  SELECT "Tiempo" FROM "tabla_24485" WHERE "Esta...
2443  SELECT "CUENTA"(DISTINCT "Demografía"."subject...
2444  SELECT "método_de_eliminación" FROM "tabla_185...
2445  SELECT "CUENTA"(DISTINCT "Demografía"."subject...

[2446 rows x 2 columns]

In [13]:
from transformers import T5Tokenizer
from datasets import load_dataset

tokenizer = T5Tokenizer.from_pretrained('google/flan-t5-large')

def tokenize_data(examples):
    inputs = tokenizer(examples['instruction'], truncation=False)
    targets = tokenizer(examples['output'], truncation=False)
    inputs["labels"] = targets["input_ids"]
    return inputs

path = 'data/test/eng_test.parquet'

dataset = load_dataset('parquet', data_files=path)
tokenized_dataset = dataset.map(tokenize_data, batched=True)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.
Generating train split: 3000 examples [00:00, 356032.82 examples/s]
Map:   0%|          | 0/3000 [00:00<?, ? examples/s]Token indices sequence length is longer than the specified maximum sequence length for this model (1605 > 512). Running this sequence through the model will result in indexing errors
Map: 100%|██████████| 3000/3000 [00:03<00:00, 791.41 examples/s]

In [14]:
path = 'data/test/hi_qonly_test.parquet'
dataset = load_dataset('parquet', data_files=path)
tokenized_dataset_hi = dataset.map(tokenize_data, batched=True)

path = 'data/test/he.jap.hi_qonly_test.parquet'
dataset = load_dataset('parquet', data_files=path)
tokenized_dataset_m = dataset.map(tokenize_data, batched=True)

violators = set()

for dataset in [tokenized_dataset, tokenized_dataset_hi, tokenized_dataset_m]:
    for i in range(len(dataset['train'])):
        if len(dataset['train'][i]['input_ids']) > 512 or len(dataset['train'][i]['labels']) > 512:
            violators.add(i)

len(violators)

Generating train split: 3000 examples [00:00, 239624.31 examples/s]
Map: 100%|██████████| 3000/3000 [00:03<00:00, 769.81 examples/s]
Generating train split: 3000 examples [00:00, 260407.95 examples/s]
Map: 100%|██████████| 3000/3000 [00:03<00:00, 784.26 examples/s]

554

In [24]:
paths = ['data/test/eng_test.parquet', 'data/test/hi_qonly_test.parquet', 'data/test/he.jap.hi_qonly_test.parquet']
import pandas as pd

for path in paths:
    df = pd.read_parquet(path)
    df.drop(violators, inplace=True)
    df.to_parquet(path.split('/')[-1], index=False)

In [2]:
import pandas as pd
c1, c2, c3 = 0, 0, 0
import unicodedata
def count(x):
    global c1, c2, c3
    script = unicodedata.name(x.split('--')[1][1]).split(' ')[0]
    if script in ['HIRAGANA', 'KATAKANA', 'CJK']:
        c1 += 1
        return x
    elif script == 'HEBREW':
        c2 += 1
        return x
    else:
        c3 += 1
        return x

pd.read_parquet('data/train/he.jap.hi_qonly.parquet')['instruction'].apply(count)
(c1, c2, c3)

(63793, 63790, 63997)

In [1]:
import pandas as pd

gt = pd.read_parquet('data/test/eng_test.parquet')
output = pd.read_parquet('model_outputs/base_eng_outputs.parquet')
df = pd.concat([gt, output], axis=1)

In [3]:
df.iloc[2]['model_output']
#df.iloc[0]['output']

'SELECT T1.firstm_lname  T1.ef_office T3.prons_codescription, professor: T1 CLASSIN professor AS T2 ON T1.classf_num = T2.emp_numJOIN department AS T3 ON T1.classrs_code = T3.crs_codeJOIN employee AS T4 ON T1.promp_num = T3.emp_code'

In [10]:
import sqlglot
from zss import simple_distance, Node

def parse(output, model_output):
    # Parse the SQL queries to ASTs
    output_ast = sqlglot.parse(output, read='sqlite')[0]
    model_output_ast = sqlglot.parse(model_output, read='sqlite')[0]
    return output_ast

parse(df.iloc[0]['output'], df.iloc[0]['model_output'])

Select(
  expressions=[
    Column(
      this=Identifier(this=player, quoted=True))],
  from=From(
    this=Table(
      this=Identifier(this=table_203_815, quoted=False))),
  where=Where(
    this=EQ(
      this=Column(
        this=Identifier(this=college, quoted=True)),
      expression=Literal(this=kansas state, is_string=True))))

In [5]:
import pandas as pd
df = pd.read_parquet('data/test/eng_test.parquet')
print(df.iloc[1]['instruction'])
print(df.iloc[0]['instruction'])

CREATE TABLE table_17232 (
    "Disc" real,
    "Track" real,
    "English title" text,
    "Japanese title" text,
    "R\u014dmaji title" text,
    "Artist" text,
    "Track time" text
)


-- Using valid SQLite, answer the following questions for the tables provided above.

-- What is the smallest track number?

CREATE TABLE table_203_815 (
    id number,
    "pick #" number,
    "nfl team" text,
    "player" text,
    "position" text,
    "college" text
)


-- Using valid SQLite, answer the following questions for the tables provided above.

-- who was the only player from kansas state ?

In [6]:
from transformers import T5Tokenizer

tokenizer = T5Tokenizer.from_pretrained('google/flan-t5-large')
tokenizer.save_pretrained('models/tokenizer')

c:\Users\Raghav\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

('models/tokenizer\\tokenizer_config.json',
 'models/tokenizer\\special_tokens_map.json',
 'models/tokenizer\\spiece.model',
 'models/tokenizer\\added_tokens.json')